{%load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Create Post</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel=' stylesheet' type='text/css' href="{% static 'css/blog.css' %}">
    <style type="text/css">
        #post_form {
        border-bottom:2px;
        padding-bottom: 20px;
        }

    </style>

</head>
<body id='admin_body'>

    {% include 'nav_bar.html' with admin=True%}

    {% block content %}
        
    {% endblock content %}


    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src='{% static "js/blog.js" %}'></script>
    <script src='{% static "bootstrap/js/bootstrap.js" %}'></script>
</body>
</html>