{% extends 'admin_base.html' %}

{% block content %}
    <style type="text/css">
        #post_form {
        border-bottom:2px;
        padding-bottom: 20px;
        }

    </style>

    <div id='wrapper'>
        <div class='row'>
        
            <form class='col-md-offset-1 col-md-10' enctype='multipart/form-data' id='post_form' action='{% url "page_admin" %}' method='POST'>
                {% csrf_token %}

                <input type='hidden' name='author' value='{{ user.id }}'>
                <input type='hidden' name='id' value=''>

              <div class="form-group">
                <label for="title-box1"><span class='glyphicon glyphicon-pencil'></span> Post Title</label>
                <input type="text" class="form-control title-box" id="title-box1" name='title' placeholder="Enter a Witty Title">
                <p class="help-block">Type Something descriptive</p>
              </div>

              <div class="form-group">
                <label for="content-box1"><span class='glyphicon glyphicon-book'></span> Post Content</label>
                <textarea class="form-control" id="content-box1" name='text' placeholder="What's on your Mind?"></textarea>
                <p class="help-block">Pour out your heart, tell us everything</p>
              </div>

              <div class="form-group">
                <label for="exampleInputFile">Featured Image</label>
                <input type="file" name='featured_image' id="exampleInputFile">
                <p class="help-block">File for the header of the post</p>
                <img id='featured-image-form' src=''>
              </div>

              <button type="submit" id='submit-button' class="btn btn-default"><span class='glyphicon glyphicon-plus'></span> Create Post</button>
              <button id='cancel-button' class='btn btn-danger'>Cancel</button>

                <div>{{ message }}</div>

            </form>
        </div>
        <hr>
        <div class='row'>
            
            <ul class='col-sm-offset-1 col-sm-10'>
                {% for post in posts %}
                    <li data-post-id='{{ post.id }}'>
                    <a class='edit_post_link'  href='#'>{{ post.title }}
                    <a class='delete-post-link text-danger' href='#'><span class='glyphicon glyphicon-trash'></span></a>
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>
    </div>

    <script type="text/javascript">

        var global_author = {{ user.id }};

    </script>

{% endblock content %}