
#loader {
    display: none;
}

body {
    font-family: 'Consolas', 'Arial', sans-sarif;
    background-color: #abcccd;
}

label {
    display: block;
}

article {
    padding-bottom: 10px;
    border-bottom: 2px solid orange;
    margin-bottom: 10px;
}

#title-stuff{
    text-align: center;
}

#wrapper {
    width: 600px;
    margin: auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.75);
}

#content-box1 {
    height: 200px;
}

#post_form {
    border-bottom:2px solid #eee;
    padding-bottom: 20px;

}

#post_form input[type='text'], #post_form textarea{
    width: 100%;
    border-radius: 5px;
    border: 2px solid black;
}

.title-box {
    border: 2px solid black;
}

textarea {
    height: 200px;
}